# https://github.com/patrikhuber/eos/blob/master/MANIFEST.in
include README.md CMakeLists.txt
recursive-include src *.h *.cpp
recursive-include pybind11 *.h CMakeLists.txt *.cmake *.cmake.in
recursive-include libsudoku *.h *.hpp *.cpp CMakeLists.txt
# An alternative to including pybind11 here is to FetchContent https://stackoverflow.com/questions/47027741/smart-way-to-cmake-a-project-using-pybind11-by-externalproject-add
